# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (highly recommended to ignore)
.venv/
venv/
ENV/
env/

# Environment variables and secrets
.env
.flaskenv

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific files (optional but common)
.vscode/
.idea/
*.swp

# Databases and other miscellaneous files
*.db
*.fx
*.log
*.zip
*.*shm
*.*wal
*.wav
*.mp3
*graph.md
.graph-out/
test.py